.transiciones {
  margin-top: 20rem;
  text-align: center;
}

.transicion-item {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.transicion-activo {
  opacity: 1;
  transform: translateY(0);
}

.transicion-inactivo {
  display: none;
}
