.hero {
    margin-top: 7rem; /* ajusta esta altura según la altura de tu navbar */
    
  }
  .carousel-img {
    width: 600px;
    height: 400px;
  }

  .carousel-col {
    max-width: 500px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
  }

  .d-block{
    border-radius: 10px;
  }