.hero{
  margin-top: 5rem;
}

/* Estilos para pantallas grandes */
@media (min-width: 992px) {
  .carousel-img {
    height: 400px;
    object-fit: cover;
  }
}

/* Estilos para pantallas medianas */
@media (max-width: 991px) {
  .carousel-img {
    height: 300px;
    object-fit: cover;
  }
}

/* Estilos para pantallas pequeñas */
@media (max-width: 767px) {
  .carousel-img {
    height: 200px;
    object-fit: cover;
  }
}
