.hero {
  margin-top: 7rem;
  padding: 2rem;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.carousel-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.carousel-item {
  display: flex;
  justify-content: center;
}

.carousel-col {
  margin: auto;
  max-width: 600px;
}

@media screen and (max-width: 768px) {
  .hero {
    margin-top: 5rem;
  }
  .carousel-col {
    max-width: 400px;
  }
}

@media screen and (max-width: 576px) {
  .hero {
    margin-top: 3rem;
  }
  .carousel-col {
    max-width: 300px;
  }
  .carousel-img {
    height: 200px;
  }
}

.d-block {
  border-radius: 10px;
}

/* Transición */
.hero.show {
  opacity: 1;
}
