.card-group{
    padding-left: 20rem;
    padding-right: 20rem;
}
.card-img-top{
    height: 200px;
}
.card img{
    height: 200px;
    width: 200px;

}
.earth{
    background: linear-gradient(
        190deg,
        rgba(55, 93, 207, 0.69) 0%,
        rgba(152, 170, 194, 0.576) 100%
      );
    align-items: center;

}
.psiconecct{
    align-items: center;
    background: linear-gradient(
        190deg,
        rgba(90, 232, 225, 0.69) 0%,
        rgba(244, 241, 187, 0.576) 100%
      );
}