nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f9fa;
  height: 60px;
  padding: 0 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.navbarleft {
  font-weight: bold;
  font-size: 20px;
}

.navbarright a {
  text-decoration: none;
  color: #212529;
  margin-left: 20px;
}

.navbarright a:hover {
  color: #007bff;
}

